.container_dashboard {
    width: 98%;
    max-width: 1000px;
    border: 4px dotted black;
    border-radius: 10px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin-top: 20px;
}

.container_dashboard > section {
    width: 100%;
    padding: 10px;
    border: 1px solid white;
    border-radius: 10px;
    margin: 0 10px;
    display: flex;
    justify-content: space-between;
    margin: 5px;
    font-size: 17px;
}

.container_dashboard section section {
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.container_dashboard section section div:first-child {
    width: 100%;
    max-width: 250px;
    color: white;
}

.container_dashboard .end_vacancy {
    border-color: rgb(30, 230, 30);
}

.container_dashboard .end_vacancy div span,
.container_dashboard .end_vacancy button {
    color: rgb(30, 230, 30);
}

.container_dashboard section div:last-child button {
    margin: 0 10px;
    font-size: 17px;
}

@media screen and (max-width: 500px) {
    .container_dashboard section section {
        flex-direction: column;
    }

    .container_dashboard section section div:first-child {
        margin-bottom: 10px;
    }

    .container_dashboard section div:last-child {
        display: flex;
        align-items: center;
    }
}