.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
}

.container > div {
    width: 100%;
    max-width: 600px;
    background: #2dabe6;
    border-radius: 15px;
    margin: 30px 0;
    padding: 20px;
    position: relative;
}

.container > div:hover {
    background: #b532fa;
    transition: all 0.4s;
    color: white;
    scale: 1.03;
}

.container > div:hover .view_vacancy {
    display: block;
}

.container > div:hover .info strong {
    color: #2dabe6;
}

.container > div:hover h2 {
    color: #2dabe6;
}

.vaga_create {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 22px;
    text-align: center;
}

.container h2 {
    margin-bottom: 15px;
    color: #b532fa;
    width: 90%;
}

.container p {
    word-wrap: break-word;
}

.container form {
    width: 100%;
    text-align: center;
}

.info {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
}

.info strong {
    color: #b532fa;
}

.container > span {
    margin-top: 20px;
}

.more {
    color: blue;
    text-decoration: underline;
    margin-left: 5px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.view_vacancy {
    border: 0;
    background: none;
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
    display: none;
}

.view_vacancy i {
    font-size: 22px;
    color: black;
}

.view_vacancy:hover i {
    color: #2dabe6;
}

@media screen and (max-width: 700px) {
    .container > div .view_vacancy {
        display: block;
    }
}