@keyframes rotateLoading {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes messageMove{
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

@keyframes messageMoveScreen {
    from {
        transform: translateX(110%);
    }
    to {
        transform: translateX(0);
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    background: linear-gradient(40deg, #2dabe6,#b532fa 70%) no-repeat fixed;
    font-family: 'Montserrat', sans-serif;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 15vh;
}

input,
textarea,
select {
    outline: none;
}

input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

a {
    text-decoration: none;
    color: black;
}
.btn {
    width: 100%;
    max-width: 150px;
    height: 40px;
    background: linear-gradient(to right, #2dabe6,#b532fa 70%) no-repeat fixed;
    border-radius: 20px;
    color: white;
    border: 0;
    cursor: pointer;
}

.btn:hover {
    color: black;
}

.btn_outline {
    background: transparent;
    border: 0;
    color: white;
    cursor: pointer;
}

.btn_outline:hover {
    color: #2dabe6;
}

.loading {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border-right: 10px solid #b532fa;
    animation: rotateLoading 400ms infinite linear;
}

.message {
    width: 100%;
    max-width: 300px;
    background: #3181a6;
    position: fixed;
    right: 20px;
    bottom: 10px;
    border-radius: 20px;
    padding: 30px;
    transition: 0.4s linear;
    transform: translateX(110%);
    animation: messageMoveScreen 400ms linear forwards;
}

.message::before {
    content: '';
    display: block;
    width: 0;
    padding: 40px 0;
    background: #0a5e8568;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 20px;
    animation: messageMove 1.5s linear forwards 400ms;
}

.btn-disabled {
    background: green;
    color: white;
    cursor: initial;
}

.btn-disabled:hover {
    color: white;
}

.noposts {
    margin-top: 10px;
}